# server configuration
HOST=localhost
PORT=9000

# db configuration
PGUSER=YOUR_PGUSER
PGPASSWORD=YOUR_PGPASSWORD
PGDATABASE=YOUR_PGDATABASE
PGHOST=YOUR_PGHOST
PGPORT=YOUR_PGPORT

# jwt
ACCESS_TOKEN_KEY=YOUR_ACCESS_TOKEN_KEY
REFRESH_TOKEN_KEY=YOUR_REFRESH_TOKEN_KEY

# mq
RABBITMQ_SERVER=YOUR_RABBITMQ_SERVER

# redis
REDIS_SERVER=YOUR_REDIS_SERVER